*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
}

header{ 
    background:url(./images/layertint.png),url(./images/backgroundimg.png)  ,linear-gradient(0deg,#080808 5.45%,#000 100%);
   
    padding-top: 20px;
    padding-bottom: 105px;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 50px;

}
    
.container{             
    width: 1360px;
    margin: 0 auto ;
}

nav{
    width: 100%;
    display: flex;
    background-color:  rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: space-between;
    padding: 29px 50px ;
    border-radius: 20px;
    
}

nav ul{
    display: flex;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

#about{
    color: #fff;
    width: 580px;
    
}

#about h5{
    font-size: 20px;
    line-height: 23px;
    margin-top: 69px;
    margin-bottom: 10px;
}

#about h1{
    font-size: 80px;
line-height: 90px;
text-transform: uppercase;
}

#about h4{
    font-size: 30px;
line-height: 35px;  
margin-bottom: 24px;
}


span h3{
    display: inline-block;
    font-size: 29px;
    line-height: 33px;
    margin-left: 15px;
}

#about button{
    background: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px 17px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
}

#about button p {
    display: inline-block;
    font-size: 18px;
    line-height: 21px;
    
}

#about button img{
    width: 20px;
    height: 20px;

}

#collections{
    color: #fff;

}

.collections-cards{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */

}

#collections h4{
    font-family: 'Gilroy-Bold';
    font-size: 30px;
    line-height: 35px;
    font-family: 'poppins';
    font-weight: 600;
    margin-top: 64px;
    margin-bottom: 20px;
}

.collections-cards img{
    width: 210px;
}
#new-releases{
    color: #fff;
    margin-top: 50px;
}

#new-releases h4 {
    font-family:'poppins';
    font-size: 30px;
    font-weight: 500px;
    line-height: 35px;
    

}

.new-releases-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.new-releases-cards{
    display: flex;
}

.new-releases-card {
    width: 315px;
    border-radius: 10px;
   


}
.card-text{
   background-color:  rgba(0, 0, 0, 0.15);
   backdrop-filter: blur(10px);
   padding: 20px;
   margin-top: 186px;
   border-radius: 0  0 10px 10px ;
}

.card-text h4{
    font-size: 28px;
    line-height: 33px;
    font-family: sans-serif;
    font-weight: 800;
}

.card-text p{
    font-size: 16px;
line-height: 19px;
font-family: sans-serif;
font-weight:500;

}

.card1{
    background-image: url(./images/release1.png);
}

.card2{
    background-image: url(./images/release2.png);

}

.card3{
    background-image: url(./images/release3.png);

}

.card4{
    background-image: url(./images/release4.png);

}






